@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Karla');
@import url('https://fonts.googleapis.com/css2?family=Sen');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@800&display=swap');


.navItems .loginButton:hover.dropdown {
     display: none;
}

.wrapper {
    position: relative;
}

.dropdown {
    position: absolute;
    bottom : 0;
}


.link {
    color:black;
 }
.link:hover {
    text-decoration: none;
    
}

